{% extends 'shared/layout.html' %}

{% block metadescription %}
<meta name="description" content="The actual, live board page for CSE 477's Final Exam, by Adam Kasumovic">
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='kanban/css/board.css') }}">
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
<script src="https://cdn.socket.io/3.1.1/socket.io.min.js" defer></script>
<script src="{{ url_for('static', filename='kanban/js/board.js') }}" defer></script>
{% endblock %}

{% block mainblock %}
<main>
    <div class="board-container">
        <p class="board-name" data-id="{{ board_id }}">
            {{ this_board_data['name'] }}
        </p>
        <!-- Every item contained within another will have its own wrapper -->
        <div class="lists-container">
            {% for list_id, list_value in this_board_data['lists'].items() %}
                <div class="list-container">
                    <p class="list-name">
                        {{ list_value['name'] }}
                    </p>
                    <div class="tasks-container">
                        {% for card_id, card_value in list_value['cards'].items() %}
                            <div class="task-container">
                                <p class="task-name">
                                    {{ card_value['name'] }}
                                </p>
                                <div class="task-details" data-id="{{ card_id }}" contenteditable="false"
                                     data-placeholder="{{ card_value['name'] + ' details here!' }}">
                                    {{ card_value['details'] }}
                                </div>
                                {% if list_value['name'] != 'Completed' %}
                                    <div class="edit-submit-container">
                                        <input class="edit-or-submit-button hover-able"
                                               id={{ 'edit-button-'+card_id|string() }} type="submit"
                                               title="Edit the details above." value="Edit"
                                               onclick="editCard({{ card_id }})">
                                        <!-- card_id used to know which card to make contenteditable -->
                                        <input class="edit-or-submit-button hover-able"
                                               id={{ 'submit-button-'+card_id|string() }}
                                               type="submit" title="Submit the details above, moving them right."
                                               value="Submit"
                                               onclick="submitCard({{ card_id }}, {{ list_value['cards']|length }})">
                                        <!-- Length used to know how much to add to the card_id -->
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="board-chat-container">
        <!-- The box where chat messages appear (this is dynamically populated) -->
        <div id="board-chat"></div>
        <!-- The box where users type in messages -->
        <p class="board-enter-message">
            <input id="board-message-content" name="board-message-content" title="Type in a valid message."
                   placeholder="Enter your message." pattern=".{1,}" required>
        </p>
        <!-- The button that submits the message -->
        <div class="submit-chat-container">
            <input class="hover-able" id="submit-chat" type="submit" title="Hit the Submit button." value="Submit"
                       onclick="submitChat()">
        </div>
    </div>
</main>
{% endblock %}

{% block footercontent %}
<p class="copyright-with-name">© 2022 Adam Kasumovic</p>
{% endblock %}