{% extends 'shared/layout.html' %}

{% block metadescription %}
<meta name="description" content="The unauthorized message page for CSE 477's Final Exam, by Adam Kasumovic">
{% endblock %}

{% block mainblock %}
<main>
    <div class="project-page-purpose">
        <h1>
            <span class="big-text">Oops...</span>
        </h1>
        <p>
            Looks like the board you were searching for doesn't exist, or you don't have access to it.
            Please double-check your login credentials and try again.
        </p>
    </div>
</main>
{% endblock %}

{% block footercontent %}
<p class="copyright-with-name">© 2022 Adam Kasumovic</p>
{% endblock %}
